<h3>The Interactions Panel</h3>
<h4>(λ)</h4>
<p>The panel to the right is the interactions panel. It's an example of a read-eval-print-loop, or <font class="red">REPL</font>.</p>
<p>The interactions panel is where you'll be able to type an expression, hit <code>Enter</code>, and watch it run!</p>
<p>The first expression you typed was a value. A value can also be something as simple as the number <code class="expr">42</code>.</p>
<p>Try typing the following in the interactions panel:</p>
<p><code class="expr">"coding is easy"</code></p>
<p><code class="expr">144</code></p>
<p>An expression can also be a <em>function</em>:</p>
<p><code class="expr">(* 2 3 4 6)</code></p>
<p><code class="expr">(* 2 (+ 2 4) (/ 48 2))</code></p>
<p>A function is a named program fragment that "knows" how to perform a defined task.</p>
<p>Type this function into the interactions panel:</p>
<p><code class="expr">(sqrt 144)</code></p>
<aside id="info">
  <span>
    the <font class="red">REPL</font> originated in <strong>Lisp</strong><br>a powerful programming language invented by Artificial Intelligence (AI) pioneer John McCarthy. This tutorial uses a descendent of Lisp called <strong>Racket</strong>.</span>
</aside>
