<h3>The Interactions Panel</h3>
<h4>(λ)</h4>
<p>The panel to the right is the interactions panel. It's an example of a read-eval-print-loop, or <font class="red"><strong>REPL</strong></font>.</p>
<p>The interactions panel is where you'll be able to type an expression, hit <code>Enter</code>, and watch it run!</p>
<p>The first expression you typed was <code>(+ 1 2)</code>. An expression can also be just a value, such as the number <code>5</code>, or the string <code>"art gallery"</code>:</p>
<p>Try typing <code class="expr">5</code> or <code class="expr">"art gallery"</code> in the interactions panel.</p>
<p>An expression can also be a function call.</p>
<p>To call a function, put an open parenthesis before the function name, then expressions for the function arguments, and then a close parenthesis, like this:</p>
<p><code class="expr">(circle 10)</code></p>
<p>Go ahead and type that function into the REPL.

<aside id="info">
  <span>
    The <font class="red">REPL</font> originated in <strong>Lisp</strong>, a powerful programming language invented by Artificial Intelligence (AI) pioneer John McCarthy. This tutorial uses a descendent of Lisp called <strong>Racket</strong>.</span>
</aside>
