<h3>Math is Fun, but Let's Make a Game!</h3>
<h4>(λ)</h4>
<p>That last function was just for fun :)</p>
<p>Now you'll write your first program - the classic <strong>Guess My Number</strong> game.</p>
<p><em>Don't worry, this won't take long.</em></p>
<p>Guess My Number is a game where the player thinks of a <font class="red">number</font> between 1 and 100.</p>
<p>Your program will then figure out the number by making guesses and asking the player if her number is bigger or smaller than the current guess.</p>
<p>Here's how it might look if the player chose <code>18</code>:
<pre>
> <font class="dark">(guess)</font>
<font class="green">50</font>
> <font class="dark">(smaller)</font>
<font class="green">25</font>
> <font class="dark">(smaller)</font>
<font class="green">12</font>
> <font class="dark">(bigger)</font>
<font class="green">18</font>
</pre></p>
<p>Ready? Then type <code class="expr">game on!</code> and let's write a game!</p>
<aside id="info">
  <span>in Racket, a <font class="red">number</font><br> is either <em>exact</em> or <em>inexact</em>. Examples of exact numbers include integers, whole numbers, and fractions; while inexact numbers print with a decimal point or expononent specifier.</span>
</aside>
<!-- “It is pitch black. You are likely to be eaten by a grue.” -->
