<h3>How About Some Fries With Your Order of Operations?</h3>
<h4>(λ)</h4>
<p>Congratulations - you just calculated the square root of 1156 without straining your brain!</p>
<p>Wait, you don't see the number 1156 in the expression?</p>
<p>Racket uses mathematical <font class="red"><strong>order of operations</strong></font>, so expressions in parentheses are done first. Wait, everything's in parentheses, right?</p>
<p><code>(sqrt (* 68 17))</code></p>
<p>In this case, we have what's called a nested expression: <code>(sqrt <font class="red"><strong>(* 68 17)</strong></font>)</code>1156 is the product of 68 and 17.</p>
<aside id="info">
  <span><font class="red">Order of Operations</font> is a rule used to clarify which procedures should be performed first in a given mathematical expression.</span>
</aside>
