<h3>Set Some Limits</h3>
<h4>(λ)</h4>
<p>The <em>define</em> expression just set the lower limit of the player's number by <em>defining</em> the <font class="red">variable</font> <code>lower</code>.</p>
<p>We set variables by using the <code>define</code> keyword.</p>
<p>A keyword is a word reserved by a programming language because it has a special meaning.</p>
<p>We follow the <code>define</code> keyword with the name we wish to assign the variable, and we follow the name with an expression that produces the value we want the variable to have.</p>
<p>In <code>(define lower 1)</code>:
  <ul>
    <li><span>the name of the variable is: <code>lower</code></span></li>
    <li><span>the expression assigned to <code>lower</code> is: <code>1</code></span></li>
  </ul>
</p>
<p>Go ahead and type <code class="expr">lower</code> into the interactions panel, and it will return it's assigned value: <code>1</code></p>
<p>Let's set our upper limit. In the interactions panel, define a variable named <code>upper</code> with the value <code>100</code>:</p>
<p><code class="expr">(define upper 100)</code></p>
<aside id="info">
  <span>a programming <font class="red">variable</font><br>is a name or symbol that stands for a value. Variables enable programmers to write flexible programs. Rather than entering data directly into a program, the programmer can use variables to represent the data.</span>
</aside>
