<h3>The Church Bells Rang</h3>
<h4>(λ)</h4>
<p>We're going to "kill" our current upper limit. We need a newer, fresher upper limit.</p>
<p>Go ahead and type <code class="expr">upper</code> in the interaction panel.</p>
<p>It should return the upper limit that we set: <code><font class="green">100</font></code></p>
<p>Now type: <code class="expr">(smaller)</code>, and again type: <code class="expr">upper</code></p>
<p>So, our weapon of choice, the <code>set!</code> expression in the <code>smaller</code> function:</p>
<p><pre><code class="expr">(define (smaller)
  (set! upper (max lower (sub1 (guess))))
  (guess))</code></pre>
  <ul>
    <li><span>decrements the value returned by <code>guess</code>: <code class="expr">(sub1 (guess))</code></span></li>
    <li><span>uses the <code>max</code> function to return the largest of <code class="expr">lower</code> and <code>(sub1 (guess))</code></span></li>
    <li><span>assigns the result of <code>max</code> to <code>upper</code>, setting a new upper limit</span></li>
  </ul>
</p>
<p>The <code>smaller</code> function hammers the final nail into the coffin by placing a <font class="red">call</font> to <code>(guess)</code>.</p>
<p>Take some time to mourn, then type: <code class="expr">brutal</code></p>
<aside id="info">
  <span>in programming, <font class="red">call</font><br>means to invoke a routine. A routine that invokes another routine is sometimes referred to as the <em>calling routine</em>. The routine that is invoked is referred to as the <em>called routine.</em></span>
</aside>
