<h3>Welcome to the Main Event</h3>
<h4>(λ)</h4>
<p>Everything we've done 'til now, the sacrifices we've forced upon <code>lower</code> and <code>upper</code>, have led us to:</p>
<h5>The Main Function</h5>
<p>It is practical to have one main function that starts - or restarts - the whole application.</p>
<p>This is a simple feat for Guess My Number:</p>
<p><pre><code class="expr">(define (start n m)
  (set! lower (min n m))
  (set! upper (max n m))
  (guess))</code></pre></p>
<p>As you now know, <code>start</code> takes two arguments, which are the numbers we want to set as the <code>lower</code> and <code>upper</code> limits.</p>
<p>By using the <code>max</code> and <code>min</code> functions, we cut down on the instructions that we need to give any player.</p>
<p>A player simply needs to put in any two numbers in any order, and the function can determine the lower and upper limits. Try it by typing: <code class="expr">(start 30 1)</code></p>
<aside id="info">
  <span><font class="red">NOTE</font><br>As we continue to more challenging games, you will see how a main function makes our games much more user friendly.</span>
</aside>
