<h3>After Party</h3>
<h4>(λ)</h4>
<p>That was easy, right?</p>
<p>Coding is often about breaking a task into small pieces, and putting those pieces together to form a program.</p>
<p>As you noticed, we listed the basic steps necessary for the <strong>Guess My Number</strong> game. We then defined the variables and functions to represent those steps.</p>
<p>Another thing that made this easy was our programming language of choice: <strong>Racket</strong></p>
<p>Racket is an immensely powerful language - we call it a multi-paradigm language because it supports multiple styles of computer programming.</p>
<p>It is also a <em>programmable programming language</em>, meaning you can customize it to your domain or preferred style.</p>
<p>At the same time, Racket was designed in a way that makes programming fun and easy to learn.</p>
<p>Thank you for completing the tutorial. <a href="https://twitter.com/ffdtm">Follow me on Twitter</a> for udpates on trycode.io.</p>
<aside id="info">
  <span><font class="red">Realm of Racket</font><br>the content of this tutorial is a condensed from Chapter 2 from the book <a href="http://realmofracket.com/" target="_blank">Realm of Racket</a>. Go ahead and grap a copy from <a href="http://www.nostarch.com/realmofracket" target="_blank">no starch press</a> or <a href="http://www.amazon.com/Realm-Racket-Learn-Program-Game/dp/1593274912/" target="_blank">Amazon</a>.</span>
</aside>
